@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shawn Renner<br />
    St. Louis, MO<br />
    <a href="mailto:resume@shawnrenner.com">resume@shawnrenner.com</a>
    <div style="margin-top: 15px">
        <a href="http://www.shawnrenner.com">ShawnRenner.com</a>
        ::
        <a href="https://www.linkedin.com/in/shawnrenner">LinkedIn</a>
        ::
        <a href="https://github.com/srenner">GitHub</a>
    </div>
</address>