@model dinner.net.ViewModels.HomeView
@{
    ViewBag.Title = "dinner.net Home";
}

<div class="jumbotron">
    <h1>dinner.net</h1>
    <p class="lead">
        dinner.net is a small project I started to learn ASP.NET MVC. 
        It will be used to keep a database of meals and help decide what to eat.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Recent Meals</h2>
        <ul id="list-recent">
        </ul>

        <fieldset>
            <legend>Record recent meal</legend>
            <div>
                <select id="ddl-meal-history">
                    @foreach (var meal in Model.AllMeals)
                    {
                        <option value="@meal.ID">@meal.Name</option>
                    }
                </select>
                <input type="text" id="txt-meal-date" class="datepicker" placeholder="Meal Date" />
                <input type="button" value="Add History" onclick="addHistory()" />                
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <h2>Ideas</h2>
        <p>List here</p>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Views/Home/index.js"></script>
}