@{
    ViewBag.Title = "dinner.net Home";
}

<div class="jumbotron">
    <h1>dinner.net</h1>
    <p class="lead">
        dinner.net is a small project I started to learn ASP.NET MVC. 
        It will be used to keep a database of meals and help decide what to eat.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recent Meals</h2>
        <p>List here</p>
    </div>
    <div class="col-md-4">
        <h2>Cheap Ideas</h2>
        <p>List here</p>
    </div>
    <div class="col-md-4">
        <h2>Delicious Ideas</h2>
        <p>List here</p>
    </div>
</div>