@{
    ViewBag.Title = "dinner.net Home";
}

<div class="jumbotron">
    <h1>dinner.net</h1>
    <p class="lead">
        dinner.net is a small project I started to learn ASP.NET MVC. 
        It will be used to keep a database of meals and help decide what to eat.
    </p>

</div>